@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

$green: #27ae60;
$black: #130f40;
$white: #fff;
$light-color: #666;
$light-bg: #f7f7f7;
$border: 0.1rem solid rgba(0, 0, 0, 0.2);
$box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
$border-radius: 0.5rem;

@mixin gridProps($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

@mixin flexProps($justify, $align, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin font {
  font-size: 3rem;
  color: $green;
  font-family: "Satisfy", cursive;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 5rem;
  }
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  span {
    @include font();
  }
  h3 {
    padding-top: 1rem;
    font-size: 3rem;
    color: $black;
  }
}

.btn {
  display: inline-block;
  background-color: $green;
  padding: 0.7rem 1.8rem;
  color: $white;
  font-size: 1.7rem;
  border-radius: $border-radius;
  margin-top: 1rem;
  cursor: pointer;
  &:hover {
    background-color: $black;
  }
}

.position-icons {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  height: 100vh;
  background: $white;
  z-index: 1000;
  display: none;
  &.active {
    display: block;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}

.header {
  padding: 2rem 9%;
  @include flexProps(space-between, center, nowrap);
  box-shadow: $box-shadow;
  background: $white;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: $black;
    .fas {
      color: $green;
      padding-right: 0.7rem;
    }
  }
  .navbar {
    a {
      font-size: 1.8rem;
      margin: 0 1rem;
      color: $light-color;
      &:hover {
        color: $green;
      }
    }
  }
  .icons {
    div {
      background: $light-bg;
      color: $black;
      border-radius: $border-radius;
      font-size: 2rem;
      width: 4.5rem;
      height: 4.5rem;
      text-align: center;
      line-height: 4.5rem;
      margin-left: 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: $green;
        color: $white;
      }
    }
    #menu-btn {
      display: none;
    }
  }
}

.shopping-cart {
  @extend .position-icons;
  overflow-y: scroll;
  padding-bottom: 8rem;
  .products {
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    animation: fadeUp 0.4s linear;
    > h3 {
      text-align: center;
      font-size: 2.5rem;
      color: $black;
      padding: 1rem;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    }
    .box-container {
      @include gridProps(30rem);
      padding: 1.5rem;
      .box {
        @include flexProps(baseline, center, wrap);
        background-color: $light-bg;
        padding: 2rem;
        border-radius: $border-radius;
        position: relative;
        gap: 1.5rem;
        img {
          height: 8rem;
          object-fit: cover;
        }
        .fas {
          position: absolute;
          top: 0.7rem;
          right: 1rem;
          font-size: 2rem;
          color: $black;
          cursor: pointer;
          &:hover {
            color: $green;
          }
        }
        .content {
          h3 {
            color: $black;
            font-size: 2rem;
          }
          span {
            font-size: 1.5rem;
            color: $light-color;
          }
          input {
            padding: 0.5rem 1.2rem;
            border-radius: $border-radius;
            color: $black;
            width: 8rem;
            margin: 0.7rem 0;
          }
          .price {
            font-size: 1.5rem;
            color: $green;
            padding-top: 0.5rem;
          }
        }
      }
    }
  }
  .total-cart {
    margin-top: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    animation: fadeUp 0.4s linear 0.4s backwards;
    > h3 {
      text-align: center;
      color: $black;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
      padding: 1rem;
      font-size: 2.5rem;
    }
    .box {
      padding: 1.5rem;
      .total,
      .subtotal {
        font-size: 2rem;
        color: $black;
        padding-bottom: 0.7rem;
        span {
          color: $green;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black;
    border-radius: 5rem;
  }
}

.login-form {
  @extend .position-icons;
  padding: 0 2rem;
  form {
    width: 40rem;
    max-width: 100%;
    margin: 2rem auto;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    padding: 2rem;
    animation: fadeUp 0.4s linear;

    h3 {
      font-size: 2.5rem;
      text-transform: capitalize;
      color: $black;
      padding-bottom: 1rem;
    }
    input {
      width: 100%;
      text-transform: none;
      border-radius: $border-radius;
      margin: 0.7rem 0;
      padding: 1rem 1.2rem;
      background: $light-bg;
      color: $black;
      font-size: 1.6rem;
    }
    .remember {
      @include flexProps(baseline, center, nowrap);
      gap: 1rem;
      padding: 1rem 0;
      input {
        width: fit-content;
      }
      label {
        font-size: 1.6rem;
        color: $light-color;
        cursor: pointer;
      }
    }
    p {
      padding-top: 1rem;
      color: $light-color;
      font-size: 1.5rem;
      a {
        color: $green;
        padding-left: 0.5rem;
        &:hover {
          text-decoration: underline;
          color: $black;
        }
      }
    }
  }
}

.search-container {
  @extend .position-icons;
  form {
    @include flexProps(baseline, center, nowrap);
    width: 100%;
    border-bottom: 0.3rem solid $black;
    animation: fadeUp 0.4s linear;
    input {
      width: 100%;
      padding: 2.5rem 0;
      color: $light-color;
      font-size: 1.7rem;
    }
    label {
      font-size: 3rem;
      color: $black;
      cursor: pointer;
    }
  }
}

.home {
  @include flexProps(baseline, center, wrap-reverse);
  gap: 2rem;
  position: relative;
  overflow: hidden;
  .content {
    flex: 1 1 41rem;
    span {
      font-size: 2rem;
      color: $green;
    }
    h3 {
      color: $black;
      font-size: 4rem;
      line-height: 1.5;
      padding-top: 1rem;
    }
    p {
      line-height: 2;
      font-size: 1.4rem;
      color: $light-color;
      padding: 1rem 0;
    }
  }
  .img {
    flex: 1 1 41rem;
    margin: 2rem 0;
    pointer-events: none;
    .home-img {
      width: 100%;
      margin-top: 5rem;
    }
    .parallax-img {
      position: absolute;
      right: -10rem;
      top: -10rem;
      width: 80vw;
      transform: translateX(0px) translateY(0px);
    }
  }
}

.category {
  @include gridProps(16rem);
  padding-bottom: 5rem;
  .box {
    border-radius: $border-radius;
    background: $light-bg;
    padding: 2rem;
    color: $black;
    text-align: center;
    cursor: pointer;
    img {
      height: 7rem;
      object-fit: cover;
    }
    span {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
    }
    &:hover {
      background: $green;
      color: $white;
    }
  }
}

.about {
  @include flexProps(baseline, center, wrap);
  gap: 2rem;
  background: $light-bg;
  .content {
    flex: 1 1 41rem;
    span {
      @include font();
    }
    .title {
      font-size: 3rem;
      padding-top: 1rem;
      color: $black;
    }
    p {
      line-height: 2;
      font-size: 1.4rem;
      color: $light-color;
      padding: 1rem 0;
    }
    .box-container {
      @include flexProps(baseline, baseline, wrap);
      gap: 2rem;
      margin-top: 2rem;
      .box {
        flex: 1 1 20rem;
        @include flexProps(baseline, center, nowrap);
        border-radius: $border-radius;
        background: $white;
        gap: 2rem;
        padding: 2rem;
        box-shadow: $box-shadow;
        h3 {
          font-size: 1.7rem;
          color: $black;
        }
      }
    }
  }
  .img {
    flex: 1 1 41rem;
    img {
      width: 100%;
    }
  }
}

.popular {
  .box-container {
    @include gridProps(25rem);
    .box {
      background-color: $light-bg;
      padding: 2rem;
      border-radius: $border-radius;
      text-align: center;
      box-shadow: $box-shadow;
      margin-bottom: 1rem;
      .heart {
        @include flexProps(flex-end, baseline, nowrap);
        font-size: 2.5rem;
        color: $black;
        &:hover {
          color: $green;
        }
      }
      .img {
        margin: 1rem 0;
        img {
          height: 15rem;
        }
      }
      .content {
        h3 {
          font-size: 2rem;
          color: $black;
        }
        .stars {
          padding: 1rem 0;
          font-size: 1.7rem;
          .fas {
            color: gold;
          }
          &::after {
            content: "(50)";
            color: $light-color;
          }
        }

        .price {
          font-size: 2rem;
          color: $black;
          span {
            display: inline-block;
            &::after {
              content: "$40.00";
              text-decoration: line-through;
              margin-left: 0.5rem;
              font-size: 1.5rem;
              color: $light-color;
            }
          }
        }
      }
    }
  }
}

.banner {
  .full-banner {
    background: url(../images/row-banner.png) center/cover no-repeat;
    height: 45rem;
    @include flexProps(baseline, center, nowrap);
    border-radius: $border-radius;
    .content {
      padding: 7rem;
      span {
        @include font();
        color: $black;
      }
      h3 {
        font-size: 6rem;
        color: red;
        text-transform: uppercase;
      }
      p {
        font-size: 2rem;
        padding-bottom: 1rem;
      }
    }
  }
  .grid-banner {
    @include gridProps(30rem);
    .grid {
      height: 45rem;
      position: relative;
      border-radius: $border-radius;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .content {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        padding: 0 2rem;
        span {
          color: $white;
          font-size: 2.5rem;
        }
        h3 {
          color: $white;
          font-size: 3rem;
          padding-top: 0.5rem;
        }
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
    .grid.center {
      text-align: center;
      .content {
        span {
          color: $light-color;
        }
        h3 {
          color: $black;
        }
      }
    }
  }
}

.menu {
  .box-container {
    @include gridProps(30rem);
    .box {
      @include flexProps(baseline, center, nowrap);
      gap: 2rem;
      border-radius: $border-radius;
      padding: 2rem;
      background: $light-bg;
      img {
        height: 10rem;
      }
      .content {
        h3 {
          font-size: 2rem;
          line-height: 1.5;
          color: $black;
          padding-bottom: 0.5rem;
        }
        .price {
          color: $green;
          font-size: 1.9rem;
        }
      }
      &:hover {
        background: $black;
      }
      &:hover {
        .content {
          h3 {
            color: $white;
          }
        }
      }
    }
  }
}

.order {
  .icons-container {
    @include gridProps(30rem);
    margin-bottom: 2rem;
    .icons {
      text-align: center;
      padding: 2rem;
      background: $light-bg;
      border-radius: $border-radius;
      img {
        height: 10rem;
      }
      h3 {
        color: $black;
        font-size: 2rem;
        padding-top: 0.5rem;
      }
    }
  }
  form {
    @include gridProps(49%);
    max-width: 100%;
    background: $light-bg;
    border-radius: $border-radius;
    padding: 2rem;
    .box {
      .inputBox {
        padding: 0.7rem 0;
        span {
          font-size: 1.5rem;
          display: block;
          color: $light-color;
        }
        input,
        textarea.address {
          width: 100%;
          padding: 1rem;
          color: $black;
          border-radius: $border-radius;
          font-size: 1.6rem;
          text-transform: none;
          margin-top: 0.6rem;
        }
        textarea.address {
          height: 18rem;
          resize: none;
        }
        .map {
          width: 100%;
          height: 18rem;
          margin-top: 0.5rem;
        }
      }
    }
    input.btn {
      width: fit-content;
    }
  }
}

.blogs {
  .box-container {
    @include gridProps(30rem);
    .box {
      background: $light-bg;
      overflow: hidden;
      .img {
        height: 25rem;
        border-radius: $border-radius;
        position: relative;
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        h3 {
          position: absolute;
          top: 1.5rem;
          left: -100%;
          font-size: 1.5rem;
          padding: 0.5rem 1rem;
          border-radius: $border-radius;
          background: $white;
          z-index: 20;
          .fas {
            color: $green;
            padding-right: 0.5rem;
          }
        }
      }
      .content {
        padding: 2rem 1.5rem;
        .tags {
          padding: 1rem 0;
          a {
            font-size: 1.7rem;
            padding-right: 0.5rem;
            color: $light-color;
            .fas {
              color: $green;
              padding-right: 0.5rem;
            }
            &:hover {
              color: $green;
            }
          }
        }
        h3 {
          font-size: 2rem;
          color: $black;
          padding-bottom: 0.5rem;
        }
        p {
          font-size: 1.4rem;
          line-height: 2;
          padding-bottom: 0.5rem;
          color: $light-color;
        }
      }
      &:hover {
        .img {
          img {
            transform: scale(1.1);
          }
          h3 {
            left: 1.5rem;
          }
        }
      }
    }
  }
}

.footer {
  padding: 2rem 9%;
  background: $light-bg;
  .newsletter {
    text-align: center;
    margin-bottom: 2rem;
    h3 {
      font-size: 2.5rem;
      padding-bottom: 1rem;
      color: $black;
    }
    form {
      max-width: 70rem;
      // max-width: 100%;
      display: flex;
      margin: 1rem auto;
      border-radius: $border-radius;
      overflow: hidden;
      input {
        width: calc(100% - 12rem);
        padding: 1rem 1.3rem;
        font-size: 1.6rem;
        color: #130f40;
      }
      input[type="submit"] {
        width: 12rem;
        padding: 0 2rem;
        font-size: 1.6rem;
        color: #fff;
        background: $green;
        cursor: pointer;
        &:hover {
          background: $black;
          color: $white;
        }
      }
    }
  }
  .box-container {
    @include gridProps(25rem);
    .box {
      p {
        font-size: 1.4rem;
        color: $light-color;
        padding: 1rem 0;
      }
      h3 {
        font-size: 2.2rem;
        color: $black;
        padding: 1rem 0;
      }
      a {
        display: block;
        font-size: 1.5rem;
        color: $light-color;
        padding: 1rem 0;
        .fas {
          margin-right: 1rem;
          color: $green;
        }
        &:hover {
          color: $green;
          .fas {
            margin-right: 2.5rem;
          }
        }
      }
    }
  }
  .bottom {
    padding-top: 1rem;
    .share {
      text-align: center;
      margin: 1.5rem 0;
      a {
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        font-size: 2rem;
        margin: 0 0.3rem;
        border-radius: $border-radius;
        background-color: $green;
        color: $white;
        &:hover {
          background: $black;
        }
      }
    }
    .credit {
      padding: 1rem;
      p {
        text-align: center;
        font-size: 2rem;
        span {
          color: $green;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
  .header {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #fff;
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      a {
        display: block;
        margin: 2rem;
      }
      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    .icons {
      #menu-btn {
        display: inline-block;
      }
    }
  }

  .home {
    .content {
      h3 {
        font-size: 3.5rem;
      }
    }
    .img {
      .parallax-img {
        right: 0;
        top: 0;
        width: 130%;
      }
    }
  }

  .order {
    form {
      padding: 1rem;
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
