@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background-color: #27ae60;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}
.heading span {
  font-size: 3rem;
  color: #27ae60;
  font-family: "Satisfy", cursive;
}
.heading h3 {
  padding-top: 1rem;
  font-size: 3rem;
  color: #130f40;
}

.btn {
  display: inline-block;
  background-color: #27ae60;
  padding: 0.7rem 1.8rem;
  color: #fff;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #130f40;
}

.position-icons, .search-container, .login-form, .shopping-cart {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  display: none;
}
.position-icons.active, .active.search-container, .active.login-form, .active.shopping-cart {
  display: block;
}

@-webkit-keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
.header {
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #130f40;
}
.header .logo .fas {
  color: #27ae60;
  padding-right: 0.7rem;
}
.header .navbar a {
  font-size: 1.8rem;
  margin: 0 1rem;
  color: #666;
}
.header .navbar a:hover {
  color: #27ae60;
}
.header .icons div {
  background: #f7f7f7;
  color: #130f40;
  border-radius: 0.5rem;
  font-size: 2rem;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
.header .icons div:hover {
  background-color: #27ae60;
  color: #fff;
}
.header .icons #menu-btn {
  display: none;
}

.shopping-cart {
  overflow-y: scroll;
  padding-bottom: 8rem;
}
.shopping-cart .products {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}
.shopping-cart .products > h3 {
  text-align: center;
  font-size: 2.5rem;
  color: #130f40;
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.shopping-cart .products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}
.shopping-cart .products .box-container .box {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  gap: 1.5rem;
}
.shopping-cart .products .box-container .box img {
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.shopping-cart .products .box-container .box .fas {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 2rem;
  color: #130f40;
  cursor: pointer;
}
.shopping-cart .products .box-container .box .fas:hover {
  color: #27ae60;
}
.shopping-cart .products .box-container .box .content h3 {
  color: #130f40;
  font-size: 2rem;
}
.shopping-cart .products .box-container .box .content span {
  font-size: 1.5rem;
  color: #666;
}
.shopping-cart .products .box-container .box .content input {
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  color: #130f40;
  width: 8rem;
  margin: 0.7rem 0;
}
.shopping-cart .products .box-container .box .content .price {
  font-size: 1.5rem;
  color: #27ae60;
  padding-top: 0.5rem;
}
.shopping-cart .total-cart {
  margin-top: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-animation: fadeUp 0.4s linear 0.4s backwards;
          animation: fadeUp 0.4s linear 0.4s backwards;
}
.shopping-cart .total-cart > h3 {
  text-align: center;
  color: #130f40;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-size: 2.5rem;
}
.shopping-cart .total-cart .box {
  padding: 1.5rem;
}
.shopping-cart .total-cart .box .total,
.shopping-cart .total-cart .box .subtotal {
  font-size: 2rem;
  color: #130f40;
  padding-bottom: 0.7rem;
}
.shopping-cart .total-cart .box .total span,
.shopping-cart .total-cart .box .subtotal span {
  color: #27ae60;
}
.shopping-cart::-webkit-scrollbar {
  width: 1rem;
}
.shopping-cart::-webkit-scrollbar-track {
  background: #fff;
}
.shopping-cart::-webkit-scrollbar-thumb {
  background-color: #130f40;
  border-radius: 5rem;
}

.login-form {
  padding: 0 2rem;
}
.login-form form {
  width: 40rem;
  max-width: 100%;
  margin: 2rem auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 2rem;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}
.login-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #130f40;
  padding-bottom: 1rem;
}
.login-form form input {
  width: 100%;
  text-transform: none;
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  background: #f7f7f7;
  color: #130f40;
  font-size: 1.6rem;
}
.login-form form .remember {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem 0;
}
.login-form form .remember input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.login-form form .remember label {
  font-size: 1.6rem;
  color: #666;
  cursor: pointer;
}
.login-form form p {
  padding-top: 1rem;
  color: #666;
  font-size: 1.5rem;
}
.login-form form p a {
  color: #27ae60;
  padding-left: 0.5rem;
}
.login-form form p a:hover {
  text-decoration: underline;
  color: #130f40;
}
.login-form input[type=submit] {
  background: #27ae60;
  color: #fff;
}
.login-form input[type=submit]:hover {
  background: #130f40;
}

.search-container form {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 0.3rem solid #130f40;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}
.search-container form input {
  width: 100%;
  padding: 2.5rem 0;
  color: #666;
  font-size: 1.7rem;
}
.search-container form label {
  font-size: 3rem;
  color: #130f40;
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
.home .content {
  flex: 1 1 41rem;
}
.home .content span {
  font-size: 2rem;
  color: #27ae60;
}
.home .content h3 {
  color: #130f40;
  font-size: 4rem;
  line-height: 1.5;
  padding-top: 1rem;
}
.home .content p {
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.home .img {
  flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}
.home .img .home-img {
  width: 100%;
  margin-top: 5rem;
}
.home .img .parallax-img {
  position: absolute;
  right: -10rem;
  top: -10rem;
  width: 80vw;
  transform: translateX(0px) translateY(0px);
}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 5rem;
}
.category .box {
  border-radius: 0.5rem;
  background: #f7f7f7;
  padding: 2rem;
  color: #130f40;
  text-align: center;
  cursor: pointer;
}
.category .box img {
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .box span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}
.category .box:hover {
  background: #27ae60;
  color: #fff;
}

.about {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background: #f7f7f7;
}
.about .content {
  flex: 1 1 41rem;
}
.about .content span {
  font-size: 3rem;
  color: #27ae60;
  font-family: "Satisfy", cursive;
}
.about .content .title {
  font-size: 3rem;
  padding-top: 1rem;
  color: #130f40;
}
.about .content p {
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.about .content .box-container {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.about .content .box-container .box {
  flex: 1 1 20rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 0.5rem;
  background: #fff;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
.about .content .box-container .box h3 {
  font-size: 1.7rem;
  color: #130f40;
}
.about .img {
  flex: 1 1 41rem;
}
.about .img img {
  width: 100%;
}

.popular .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.popular .box-container .box {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}
.popular .box-container .box .heart {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: nowrap;
  font-size: 2.5rem;
  color: #130f40;
}
.popular .box-container .box .heart:hover {
  color: #27ae60;
}
.popular .box-container .box .img {
  margin: 1rem 0;
}
.popular .box-container .box .img img {
  height: 15rem;
}
.popular .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.popular .box-container .box .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}
.popular .box-container .box .content .stars .fas {
  color: gold;
}
.popular .box-container .box .content .stars::after {
  content: "(50)";
  color: #666;
}
.popular .box-container .box .content .price {
  font-size: 2rem;
  color: #130f40;
}
.popular .box-container .box .content .price span {
  display: inline-block;
}
.popular .box-container .box .content .price span::after {
  content: "$40.00";
  text-decoration: line-through;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: #666;
}

.banner .full-banner {
  background: url(../images/row-banner.png) center/cover no-repeat;
  height: 45rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 0.5rem;
}
.banner .full-banner .content {
  padding: 7rem;
}
.banner .full-banner .content span {
  font-size: 3rem;
  color: #27ae60;
  font-family: "Satisfy", cursive;
  color: #130f40;
}
.banner .full-banner .content h3 {
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
}
.banner .full-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.banner .grid-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.banner .grid-banner .grid {
  height: 45rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
.banner .grid-banner .grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  padding: 0 2rem;
}
.banner .grid-banner .grid .content span {
  color: #fff;
  font-size: 2.5rem;
}
.banner .grid-banner .grid .content h3 {
  color: #fff;
  font-size: 3rem;
  padding-top: 0.5rem;
}
.banner .grid-banner .grid:hover img {
  transform: scale(1.2);
}
.banner .grid-banner .grid.center {
  text-align: center;
}
.banner .grid-banner .grid.center .content span {
  color: #666;
}
.banner .grid-banner .grid.center .content h3 {
  color: #130f40;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.menu .box-container .box {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
  background: #f7f7f7;
}
.menu .box-container .box img {
  height: 10rem;
}
.menu .box-container .box .content h3 {
  font-size: 2rem;
  line-height: 1.5;
  color: #130f40;
  padding-bottom: 0.5rem;
}
.menu .box-container .box .content .price {
  color: #27ae60;
  font-size: 1.9rem;
}
.menu .box-container .box:hover {
  background: #130f40;
}
.menu .box-container .box:hover .content h3 {
  color: #fff;
}

.order .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.order .icons-container .icons {
  text-align: center;
  padding: 2rem;
  background: #f7f7f7;
  border-radius: 0.5rem;
}
.order .icons-container .icons img {
  height: 10rem;
}
.order .icons-container .icons h3 {
  color: #130f40;
  font-size: 2rem;
  padding-top: 0.5rem;
}
.order form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
  gap: 1.5rem;
  max-width: 100%;
  background: #f7f7f7;
  border-radius: 0.5rem;
  padding: 2rem;
}
.order form .box .inputBox {
  padding: 0.7rem 0;
}
.order form .box .inputBox span {
  font-size: 1.5rem;
  display: block;
  color: #666;
}
.order form .box .inputBox input,
.order form .box .inputBox textarea.address {
  width: 100%;
  padding: 1rem;
  color: #130f40;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-transform: none;
  margin-top: 0.6rem;
}
.order form .box .inputBox textarea.address {
  height: 18rem;
  resize: none;
}
.order form .box .inputBox .map {
  width: 100%;
  height: 18rem;
  margin-top: 0.5rem;
}
.order form input.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box {
  background: #f7f7f7;
  overflow: hidden;
}
.blogs .box-container .box .img {
  height: 25rem;
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.blogs .box-container .box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .box-container .box .img h3 {
  position: absolute;
  top: 1.5rem;
  left: -100%;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #fff;
  z-index: 20;
}
.blogs .box-container .box .img h3 .fas {
  color: #27ae60;
  padding-right: 0.5rem;
}
.blogs .box-container .box .content {
  padding: 2rem 1.5rem;
}
.blogs .box-container .box .content .tags {
  padding: 1rem 0;
}
.blogs .box-container .box .content .tags a {
  font-size: 1.7rem;
  padding-right: 0.5rem;
  color: #666;
}
.blogs .box-container .box .content .tags a .fas {
  color: #27ae60;
  padding-right: 0.5rem;
}
.blogs .box-container .box .content .tags a:hover {
  color: #27ae60;
}
.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  padding-bottom: 0.5rem;
}
.blogs .box-container .box .content p {
  font-size: 1.4rem;
  line-height: 2;
  padding-bottom: 0.5rem;
  color: #666;
}
.blogs .box-container .box:hover .img img {
  transform: scale(1.1);
}
.blogs .box-container .box:hover .img h3 {
  left: 1.5rem;
}

.footer {
  padding: 2rem 9%;
  background: #f7f7f7;
}
.footer .newsletter {
  text-align: center;
  margin-bottom: 2rem;
}
.footer .newsletter h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #130f40;
}
.footer .newsletter form {
  max-width: 70rem;
  display: flex;
  margin: 1rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
}
.footer .newsletter form input {
  width: calc(100% - 12rem);
  padding: 1rem 1.3rem;
  font-size: 1.6rem;
  color: #130f40;
}
.footer .newsletter form input[type=submit] {
  width: 12rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #27ae60;
  cursor: pointer;
}
.footer .newsletter form input[type=submit]:hover {
  background: #130f40;
  color: #fff;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container .box a .fas {
  margin-right: 1rem;
  color: #27ae60;
}
.footer .box-container .box a:hover {
  color: #27ae60;
}
.footer .box-container .box a:hover .fas {
  margin-right: 2.5rem;
}
.footer .bottom {
  padding-top: 1rem;
}
.footer .bottom .share {
  text-align: center;
  margin: 1.5rem 0;
}
.footer .bottom .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  margin: 0 0.3rem;
  border-radius: 0.5rem;
  background-color: #27ae60;
  color: #fff;
}
.footer .bottom .share a:hover {
  background: #130f40;
}
.footer .bottom .credit {
  padding: 1rem;
}
.footer .bottom .credit p {
  text-align: center;
  font-size: 2rem;
}
.footer .bottom .credit p span {
  color: #27ae60;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem;
  }

  .header {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .icons #menu-btn {
    display: inline-block;
  }

  .home .content h3 {
    font-size: 3.5rem;
  }
  .home .img .parallax-img {
    right: 0;
    top: 0;
    width: 130%;
  }

  .order form {
    padding: 1rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}/*# sourceMappingURL=style.css.map */